
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(253,156,43,0.4) 0%, rgba(253,156,43,0.2) 50%), url('https://images8.alphacoders.com/389/389586.jpg');">
  <div class="banner-content">
    <h1>Cocktails</h1>
  </div>
</div>

<div class="cocktails">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to cocktail_path(cocktail), class: "unstyled-link" do %>
          <div class="card" style="background-image: url('<%= cocktail.photo %>');">
            <h3 class="card-category"><%= cocktail.name %></h3>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
