/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.cocktails {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
