/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
body {
  background-color: rgba(253,156,43,0.2);
  font-family: 'Pacifico', cursive;
}

#title {
  font-family: 'Pacifico', cursive;
  font-size: 100px;
}

.cocktails {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
