.cocktail-title {
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 15px;
}

.cocktail-image {
  border-radius: 5px;
}

.ingredients {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
}

.list-ingredients {
  font-family: 'Montserrat Alternates', sans-serif;
}

#button-ingredient {
  margin-top : 20px;
}

.add-ingredient {
  width: 200px;
  margin: 50px auto;
}
